<div class="container">  
  <div class="row">
    <div class="col-xs-12">
      <div class="page-profile">	
        <h1 class='text-center'>Hello, {{username}}</h1>
        <div class="row">
          <div class="col-sm-7 your_books">
            <div>
              <form class='form-inline' ng-submit='addBook()'>
                <div class="form-group">
                  <input type="text" ng-model='title' class="form-control" placeholder='add book' required />
                </div>
                <button type="submit" class="btn btn-vote"><span class="glyphicon glyphicon-plus"></span> Add Book</button>
              </form>
              <ul>
                <li class='book' ng-repeat="b in userBooks">
                  <img ng-src='{{b.img}}'>
                  <span class='delete' ng-click='deleteBook(b._id)'>
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class='col-sm-5'>
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" data-target="#panel1">My Requests</a></li>
              <li><a data-toggle="tab" data-target="#panel2">Requests for me</a></li>
            </ul>
            <div class="tab-content">
              <div id="panel1" class="tab-pane fade in active">
                <div>
                  <div ng-repeat="trade in userTrades">
                    <div class="trade_block">
                      <p class='title'>{{trade.title}}</p>
                      <p class='desc'>added by {{trade.username}}</p>
                      <span class='delete' ng-click='deleteReq(trade._id)'>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="panel2" class="tab-pane fade">
                <div>
                  <div ng-repeat="bo in userBooks">
                    <div ng-repeat="t in bo.trade">
                      <div class="trade_block">
                        <p class='title'>{{bo.title}}</p>
                        <p class='desc'>from {{t.user}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>